.topnav{
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: #5f5094;
    color: white;
}

.about-top h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-item p{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    padding: 20px;
}
  
.grid-item {
    text-align: center;
}
  
.grid-item img {
    width: 150px;
    height: 50%%;
    align-items: center;
}


.team-item h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}